.Home {

}

.Home-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20px;

}

.Home-header {
  background-color: #222;
  height: 100px;
  padding: 30px;
  color: white;
  font-size: 18px;
  text-align: center;
}

.Title {
  margin-top: -10px;
  font-size: 60px;
  text-align: center;
}

.Home-intro {
  font-size: 24px;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
